<div id="<%= dom_id author %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-4">Name:</strong>
    <%= author.name %>
  </div>
  <div>
    <strong class="block font-medium mb-3">Country:</strong>
    <%= author.country %>
  </div>
  <div>
    <strong class="block font-medium mb-2">Birthday:</strong>
    <%= author.birthday %>
  </div>

  <div>
    <% if author.image.attached? %>
      <%= image_tag author.image.variant(:thumb) %>
    <% end %>
  </div>
</div>
